<a href="https://colab.research.google.com/github/MakamPreethikesav/jntua-phython/blob/master/DAY10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS
- WHILE LOOP
- FOR LOOP

In [3]:
# PRINT numbers from 1 to n
# input 10
# output 1 2 3  4 ....10
n =int(input("enter a number :"))
i = 1
while i <=n:
  print(i,end = "  ")
  i = i+1

enter a number :10
1  2  3  4  5  6  7  8  9  10

In [15]:
# PRINT sum of even numbers
# input 10
# output:(2+4+6+8+10)=30
n =int(input("enter a number :"))
i = 0
sum = 0
while i <=n:
       sum = sum+i
       i=i+2
print(sum)

enter a number :10
30

In [18]:
# print palindrome number
# input 123
# output 321
n =int(input("enter a number :"))
rem=0
num=0
while n>0:
  rem=n%10
  num=num*10+rem
  n=n//10
print(num)

enter a number :123
321

# FUNCTIONAL PROGRAMMING
- simple
- easy to understand
- better reuseability
- length program will be divided into sub programs

In [0]:
def nameofthefunction(<parameter>):
   statements
   return

In [27]:
# print sum of even number
# input:1234
# output:(2+4)=6
def sumofevendigits(n):
    s = 0
    while n!= 0:
      r = n%10
      if r%2==0:
       s=s+r
      n = n//10
    return s
sumofevendigits(1234)

6

In [35]:
# print the largest digit
def large(n):
    prev=0
    next=0
    while(n!=0):
      prev=next
      next=n%10
      if(prev>next):
        next=prev
      n=n//10
    return next
large(12345)

5

# for loop
# syntax
# for in range(start,stop,step):
#     statements

In [0]:
# syntax
for in range(start,stop,step):
    statements

In [36]:
# PRINT THE NUMBERS BETWEEN LIMITS
#input  :11 25
#output : 11 12 13 14  ....24 25
def printseries(fn,ln):
  for i in range(fn,ln+1):
    print(i,end=" ")
  return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [40]:
#input : 500,520
#output : 500,504,508 ...520
def printseries(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end=" ")
  return
printseries(500,520)

500 504 508 512 516 520

# collection types
- list
- turple
- dictionary

#LIST
- one of the data structure in python
- data structure means to store,sort and search options
- its one common data structure in python,the items of list separated by comma and enclosed by square brackets
-IN LIST we can change the values
-ex:
-list1=[1,2,3,4,5]
-list=["JNTUA","DASD","asds"]

In [53]:
li = [1,8,2,5,4]
print(li)
print(li[2])
print(li[-4])
print(li[2:])
print(li[3:])
print(li[2:4])
print(li[-3:-1])
print(li[::2])
print(li[::1])
print(li[::3])

[1, 8, 2, 5, 4]
2
8
[2, 5, 4]
[5, 4]
[2, 5]
[2, 5]
[1, 2, 4]
[1, 8, 2, 5, 4]
[1, 5]

In [57]:
# UPDATE LIST
li = ["JNTUA",8,"ANTPR",5,4]
print(li)
li[1]="154"
print(li)
# delete list item
del li[3]
print(li)

['JNTUA', 8, 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 4]

In [60]:
# Basic List operations
li = [1,2,3,4,5]
print(len(li))
print(li*2)
print(4 in li)
print(6 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

# list functions
- max
- min
- sum 
- append
- insert
- count
- index
- sort
- pop

In [63]:
li = [1,2,3,4,5]
print(max(li))
print(min(li))
print(sum())

5
1

TypeError: ignored