<a href="https://colab.research.google.com/github/MakamPreethikesav/jntua-phython/blob/master/day10(31_10_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
li = [1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/(len(li)))

5
1
15
3.0

In [8]:
li= [1,2,3,4,5]
#li.append(56)
#li.insert(2,56)
#li.count(5)
#li.index(4)
li.sort()
print(li)

[1, 2, 3, 4, 5]

In [10]:
li = [9,5,7,10,5]
li.pop(3)
print(li)

[9, 5, 7, 5]

In [16]:
# using function return large number from list
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
  li.sort()
  return li[-n]
li =[13,2,43,74,78,12,35]
print(largenumber(li))
print(genericlarge(li,3))

78
35

In [18]:
def smallnumber(li):
  li.sort()
  return li[0]
def genericsmall(li,n):
  li.sort()
  return li[n]
li =[13,2,43,74,78,12,35]
print(smallnumber(li))
print(genericsmall(li,1))

2
12

# Tuples
- paranthesis() -->tuple and square