<a href="https://colab.research.google.com/github/MakamPreethikesav/jntua-phython/blob/master/DAY9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown
#### Markdown

**Points**

*Points*

***Points***

In [1]:
print("hello  , Jntua")

hello  , Jntua

## Assignment

In [6]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Data types and conversions
* int
* float
* string

In [10]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [11]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
# length
a = 123456
print(len(str(a)))

6

# Reading input from user---input function

In [14]:
a = input("enter your name")
print(a)
print(type(a))

enter your namePREETHI KESAV
PREETHI KESAV
<class 'str'>

In [16]:
B = int(input("enter your age  : "))
print(B)
print(type(B))

enter your age  : 19
19
<class 'int'>

# Operators
- Operators is a symbol is used to perform a specific kind of operation

# Arthemetic operator
- +
- -
- *
- /
- %
- //(float)(takes only integer part of quotient)
- **(power of )

In [18]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operator
- =
- ==
- !=
- <
- >
- <=
- >=

In [19]:
x = 10
a1 = x > 15
print(a1)

False

# logical operators
- and (both conditions has to satisfy,then true)
- or (any one condition satisfy then true)
- not

In [21]:
i = 100
a1 = (i>15) and (i < 800)
a2 = (i>15) or (i > 800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# Control flow statements
- conditional statements
- looping statements

# if else statements
## syntax
# if Boolean_condition
# statements
#else:
#statements

In [25]:
# to check given number is even or odd
n = int(input("enter a number")) 
if n%2 == 0:
   print(n,"is even number")
else:
    print(n,"is odd number")

enter a number46
46 is even number

In [28]:
# to check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0 :
  print(n,"is perfect multiple of 3 and 5")
else:
  print(n,"is not perfect multiple of 3 and 5")

enter a number30
30 is perfect multiple of 3 and 5

In [32]:
# to check given number is negative or positive or zero
n = int(input("enter a number"))
if n<0:
  print(n,"is negative number")
elif n>0:
  print(n,"is positive number")
else:
  print(n,"is zero")

enter a number2
2 is positive number

In [39]:
# largest of given three numbers
a = int(input("enter a"))
b = int(input("enter b"))
c = int(input("enter c"))
if (a>b and a>c):
  print(a," is largest")
elif (b>a and b>c):
  print(b," is largest")
else:
  print(c," is largest")

enter a1
enter b2
enter c3
3  is largest

In [45]:
# given year is leap year or not
n = int(input("enter year"))
if n%4 == 0 and n%100!= 0:
  print(n,"is leap year")
else:
  print(n,"is non-leap year")

enter year2000
2000 is non-leap year